.sum_cont_banner{
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sum_sombra{
    position:absolute;
    left: 50%;
    top:50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 90%;
    text-align: center;
    margin: auto;

}
.titulo{
    font-size: 70px;
    color:rgb(119, 8, 119);
    padding:auto;
    animation-name:titulo;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function:linear ;
    animation-direction: alternate;
}
.boton {
    font-size: 60px;
    padding: 10px; 
    background-color:plum; 
    color:rgb(119, 8, 119);
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Cormorant Garamond', sans-serif; 
    border-radius: 50px; 
    animation-name:boton;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function:linear ;
    animation-direction: alternate;
    }
.subtitulo{

    font-size: 60px;
    color:rgb(119, 8, 119);
    justify-content: center;
    padding:auto;
  
}
@keyframes titulo{
    from{
        transform:scale(1.0) ;
    }
    to{
        transform: scale(1.1);
    }

}
@keyframes boton{
    from{
        transform:scale(1.0) ;
    }
    to{
        transform: scale(1.1);
    }

}
.titulo2{
    font-size: 60px;
    color:rgb(119, 8, 119);
    padding:auto;
    }
.subtitulo2{
        font-size: 50px;
        color:rgb(119, 8, 119);
        justify-content: center;
        padding:auto;
      
    }
    .sum_cont_banner2{
        height: 50vh;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .sum_sombra2{
        position:absolute;
        left: 50%;
        top:30%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 15px;
        width: 80%;
        text-align: center;
        margin: auto;}    